@font-face {
  font-family: 'Young';
  src: url("../fonts/youngserif-regular.woff");
}

body {
  background-color: #FFFFED !important;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body .landing {
  max-width: 100%;
  padding-right: 5%;
  background-image: url("../img/PIc2.jpg");
  /* Set a specific height */
  height: 120vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

body .landing .massive.secondary {
  padding: 2.5%;
}

body .landing .massive.secondary .right.menu a {
  font-family: 'Young';
  color: white;
  font-size: 150%;
  font-weight: 600;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .landing .massive.secondary .right.menu a:hover {
  color: #66f8ee;
}

@media screen and (max-width: 1000px) {
  body .landing .massive.secondary .right.menu {
    display: none !important;
  }
}

@media screen and (min-width: 1001px) {
  body .landing .mobile {
    display: none !important;
  }
}

body .landing .heading {
  margin-top: 20%;
  color: white;
  font-size: 900%;
  font-family: 'Young';
  line-height: 1;
}

@media screen and (max-width: 1000px) {
  body .landing .heading {
    font-size: 600%;
  }
}

@media screen and (max-width: 400px) {
  body .landing .heading {
    font-size: 500%;
  }
}

@media screen and (max-width: 340px) {
  body .landing .heading {
    font-size: 450%;
  }
}

@media screen and (max-width: 500px) {
  body .landing .heading {
    padding-top: 40%;
  }
}

body .tech_head {
  font-family: 'Young' !important;
  font-size: 600%;
  padding: 5%;
  line-height: 1;
}

@media screen and (max-width: 1000px) {
  body .tech_head {
    font-size: 400%;
    padding: 10% !important;
    padding-bottom: 20% !important;
  }
}

@media screen and (max-width: 400px) {
  body .tech_head {
    font-size: 400%;
    padding: 10% !important;
    padding-bottom: 20% !important;
  }
}

@media screen and (max-width: 340px) {
  body .tech_head {
    font-size: 300%;
    padding: 10% !important;
    padding-bottom: 20% !important;
  }
}

body .about .head {
  font-family: 'Young' !important;
  font-size: 550%;
  padding: 10%;
  margin-bottom: 0;
  line-height: 1;
}

@media screen and (max-width: 1000px) {
  body .about .head {
    font-size: 350%;
  }
}

@media screen and (max-width: 400px) {
  body .about .head {
    font-size: 200%;
    padding: 20%;
  }
}

@media screen and (max-width: 340px) {
  body .about .head {
    font-size: 150%;
    padding: 20%;
  }
}

body .about .description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  padding-bottom: 5%;
}

body .card {
  height: 30vh;
  border-radius: 20px !important;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-box-shadow: -4px -4px 4px 0 rgba(255, 255, 237, 0.4), 4px 4px 4px 0 rgba(27, 28, 29, 0.6) !important;
          box-shadow: -4px -4px 4px 0 rgba(255, 255, 237, 0.4), 4px 4px 4px 0 rgba(27, 28, 29, 0.6) !important;
}

body .card:hover {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

body .card:hover:before {
  opacity: 1;
}

body .card:hover .info {
  opacity: 1;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

body .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

body .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

body .card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .card .info h1 {
  margin: 0px;
}

body .card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

body .card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

body .card .info button:hover {
  background: dodgerblue;
  color: white;
}

body .grid .eight img {
  width: 100% !important;
}

body .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 90%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-align: center;
  padding-top: 25%;
}

body .overlay {
  position: relative;
  top: 20%;
}

body .sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: "Young";
  text-decoration: none;
  line-height: 1;
  font-size: 350%;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .sidenav a:hover {
  color: #66f8ee;
}

body .closebtn {
  position: relative;
  left: 30%;
  top: -10%;
}

@media screen and (max-height: 450px) {
  body .sidenav {
    padding-top: 15px;
  }
  body .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */